@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
    height: 100%;
    background-color: black;
    color-scheme: dark;
}


input[type=range] {
    -webkit-appearance: none;
    z-index: 10;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    overflow: hidden;
    height: 4px;
    cursor: pointer;
    background: theme('colors.button-text');
}

input[type=range]::-webkit-slider-thumb {
    height: 0;
    width: 0;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 1px 5px 10px -1px theme('colors.primary'),
    -15px 0 0 15px theme('colors.primary'),
    -25px 0 0 0px theme('colors.primary'),
    -75px 0 0 0px theme('colors.primary'),
    -125px 0 0 0px theme('colors.primary'),
    -175px 0 0 160px theme('colors.primary'),
    -225px 0 0 160px theme('colors.primary'),
    -275px 0 0 160px theme('colors.primary'),
    -325px 0 0 160px theme('colors.primary'),
    -375px 0 0 160px theme('colors.primary'),
    -425px 0 0 160px theme('colors.primary'),
    -475px 0 0 160px theme('colors.primary'),
    -525px 0 0 160px theme('colors.primary'),
    -575px 0 0 160px theme('colors.primary'),
    -625px 0 0 160px theme('colors.primary'),
    -675px 0 0 160px theme('colors.primary'),
    -725px 0 0 160px theme('colors.primary'),
    -775px 0 0 160px theme('colors.primary')
}

input[type=range]:focus::-webkit-slider-runnable-track {
    overflow: hidden;
    background: theme('colors.button-text');
}