@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
    height: 100%;
    background-color: black;
    color-scheme: dark;
}

.react-tabs__tab {
    background: theme('colors.surface');
}

.react-tabs__tab:focus {
    border: none;
    outline: none;
}

.react-tabs__tab--selected {
    background: theme('colors.primary');
    border-radius: 12px;
}

.react-tabs__tab--selected:focus {
    border: none;
    outline: none;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: flex;
}


::-webkit-scrollbar {
    width: 3px;
}

/* TrackSideSheet */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: theme('colors.surface');
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: theme('colors.surface');
}